IoT_System_Node_red.json
[
    {
        "id": "9086e31c0e775e65",
        "type": "tab",
        "label": "lora",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1f0e10211a5d67e",
        "type": "group",
        "z": "9086e31c0e775e65",
        "name": "Lora",
        "style": {
            "stroke": "none",
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "b259cc7f997f3f9d",
            "bab7b416b13592ef",
            "3725bc6edf6792b7",
            "0b61069122122dd8",
            "53d56c9e472a5393",
            "a39402d710f27448",
            "8840abb7307887e1",
            "a5ab3113753c569b",
            "02fc17970b6fed45",
            "72d75edd5dc1191e",
            "4ed0da44f76834a7",
            "a93995472a9ddd11",
            "8fc377e879d5c055",
            "cc563dbd2e6e7212",
            "437f5fadc88c4b9a",
            "912d528e867f8fc7",
            "6901713042620022",
            "61d3cde1d445654b",
            "1af94848d8c80669",
            "66f585dc9c7c8be1",
            "5452d48b6c9fc722",
            "f363c10c19d1bde4",
            "9e5dbda5775a3c93",
            "e7ac174a45d926ac",
            "2a0e35a0e60f2c1e",
            "8b61cb605ae5c81f",
            "b6294c5f2b37ce50",
            "1634522be9a5a50b",
            "774514af8c1f37d1",
            "2307d22244713510",
            "ef906411d11ef0cc",
            "c7dde367d145d2de"
        ],
        "x": 74,
        "y": -21,
        "w": 1152,
        "h": 982
    },
    {
        "id": "2a91119432dab96e",
        "type": "group",
        "z": "9086e31c0e775e65",
        "name": "Wi- Fi",
        "style": {
            "stroke": "none",
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "ff936f7ea4b17386",
            "2151ccf39b337e20",
            "cbd681df6a22119a",
            "08173f4a1f3d1e66",
            "5402d08102a9706f",
            "0b6f57a2cf9c07a8",
            "c609b7f216a0057c",
            "364e43c90f6e4160",
            "37eaac73243bfce0",
            "a8204c0777c33c81",
            "92ec9a82c221e9d3",
            "0e8c3b78290d64a4",
            "418c64f2679e2f97",
            "28087eed48fa044b",
            "143265b5aeebe25a",
            "c728408444405a80",
            "b602e0bded2717c9",
            "c5887b3075758d45",
            "128aabe96d9dfb58",
            "63771a8f6cec623f",
            "3256f673e8e3713d",
            "383ed03be1944ce8",
            "bae0a08da361ad21",
            "1a1942d8c8cf6aeb",
            "a21a5871f3b26ad5"
        ],
        "x": 94,
        "y": 1059,
        "w": 1112,
        "h": 682
    },
    {
        "id": "19c36ea8ef3c924d",
        "type": "ui_tab",
        "name": "Lora",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e2eddd32055183e1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "db5c89b3b3859681",
        "type": "ui_group",
        "name": "Risultati",
        "tab": "19c36ea8ef3c924d",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88e58d5c.be73",
        "type": "lorawan-keys",
        "name": "Lora-Example",
        "keys": "{\"12345678\":{\"nsw\":\"00000000000000000000000000000000\",\"asw\":\"123456789abcdef00000000000000000\",\"type\":\"foo\",\"name\":\"Foo 1\"},\"0000abcd\":{\"nsw\":\"00000000000000000000000000000000\",\"asw\":\"00000000000000000000000000000000\",\"type\":\"bar\",\"name\":\"Bar 1\"}}"
    },
    {
        "id": "83250a2dcbe72917",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a619af7d094e01fc",
        "type": "ui_group",
        "name": "Pannello di commando",
        "tab": "19c36ea8ef3c924d",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8df33a9b06cd1d3",
        "type": "ui_group",
        "name": "Risultati",
        "tab": "50f5e63a94601750",
        "order": 3,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "50f5e63a94601750",
        "type": "ui_tab",
        "name": "Wi-Fi",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4bb5cda05110c7e9",
        "type": "ui_group",
        "name": "Pannello di controllo",
        "tab": "50f5e63a94601750",
        "order": 2,
        "disp": true,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b259cc7f997f3f9d",
        "type": "mqtt out",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "topic": "/command/esp32",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "83250a2dcbe72917",
        "x": 1070,
        "y": 20,
        "wires": []
    },
    {
        "id": "a5ab3113753c569b",
        "type": "mqtt in",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "topic": "/result/esp32/num_pack_recv",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "83250a2dcbe72917",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "72d75edd5dc1191e",
                "61d3cde1d445654b",
                "e7ac174a45d926ac"
            ]
        ]
    },
    {
        "id": "02fc17970b6fed45",
        "type": "debug",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "72d75edd5dc1191e",
        "type": "function",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "function 1",
        "func": "msg.payload = \"Messaggi arrivati \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "02fc17970b6fed45"
            ]
        ]
    },
    {
        "id": "4ed0da44f76834a7",
        "type": "mqtt in",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "topic": "/result/esp32/num_pack_tot",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "83250a2dcbe72917",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 540,
        "wires": [
            [
                "8fc377e879d5c055",
                "66f585dc9c7c8be1"
            ]
        ]
    },
    {
        "id": "a93995472a9ddd11",
        "type": "mqtt in",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "topic": "/result/esp32/tempo",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "83250a2dcbe72917",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 700,
        "wires": [
            [
                "cc563dbd2e6e7212",
                "6901713042620022",
                "774514af8c1f37d1"
            ]
        ]
    },
    {
        "id": "8fc377e879d5c055",
        "type": "function",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "function 2",
        "func": "msg.payload = \"Messaggi totali inviati \" + msg.payload.split(\" \")[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 540,
        "wires": [
            [
                "912d528e867f8fc7"
            ]
        ]
    },
    {
        "id": "cc563dbd2e6e7212",
        "type": "function",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "function 3",
        "func": "msg.payload = \"Tempo medio \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 740,
        "wires": [
            [
                "437f5fadc88c4b9a"
            ]
        ]
    },
    {
        "id": "437f5fadc88c4b9a",
        "type": "debug",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 740,
        "wires": []
    },
    {
        "id": "912d528e867f8fc7",
        "type": "debug",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "bab7b416b13592ef",
        "type": "ui_form",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "label": "",
        "group": "a619af7d094e01fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Mac Address",
                "value": "mac _address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Numero pacchetti",
                "value": "num_pack",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "mac _address": "",
            "num_pack": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "53d56c9e472a5393"
            ]
        ]
    },
    {
        "id": "6901713042620022",
        "type": "ui_gauge",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "group": "db5c89b3b3859681",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tempo medio",
        "label": "ms",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 620,
        "wires": []
    },
    {
        "id": "61d3cde1d445654b",
        "type": "ui_text",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "group": "db5c89b3b3859681",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pacchetti arrivati",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "1af94848d8c80669",
        "type": "ui_text",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "group": "db5c89b3b3859681",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pacchetti totali",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "66f585dc9c7c8be1",
        "type": "function",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "function 4",
        "func": "msg.payload = msg.payload.split(\" \")[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "1af94848d8c80669",
                "e7ac174a45d926ac"
            ]
        ]
    },
    {
        "id": "3725bc6edf6792b7",
        "type": "function",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "function 5",
        "func": "msg.payload = msg.payload[\"num_pack\"] + \" \" + msg.payload[\"mac _address\"];\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 20,
        "wires": [
            [
                "b259cc7f997f3f9d",
                "2307d22244713510"
            ]
        ]
    },
    {
        "id": "0b61069122122dd8",
        "type": "ui_text",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "group": "a619af7d094e01fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.ok}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "53d56c9e472a5393",
        "type": "switch",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "property": "payload[\"mac _address\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^[a-fA-F0-9]{2}(:[a-fA-F0-9]{2}){5}$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "ef906411d11ef0cc"
            ],
            [
                "8840abb7307887e1"
            ]
        ]
    },
    {
        "id": "a39402d710f27448",
        "type": "change",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "Form valido",
        "rules": [
            {
                "t": "set",
                "p": "ok",
                "pt": "msg",
                "to": "Sended command",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 80,
        "wires": [
            [
                "0b61069122122dd8"
            ]
        ]
    },
    {
        "id": "8840abb7307887e1",
        "type": "change",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "Mac address non valido",
        "rules": [
            {
                "t": "set",
                "p": "ok",
                "pt": "msg",
                "to": "Mac address non valido",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "0b61069122122dd8"
            ]
        ]
    },
    {
        "id": "ff936f7ea4b17386",
        "type": "mqtt in",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "topic": "/result/esp32_2/num_pack_recv",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "83250a2dcbe72917",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1100,
        "wires": [
            [
                "08173f4a1f3d1e66",
                "63771a8f6cec623f"
            ]
        ]
    },
    {
        "id": "2151ccf39b337e20",
        "type": "mqtt in",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "topic": "/result/esp32_2/num_pack_tot",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "83250a2dcbe72917",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1220,
        "wires": [
            [
                "37eaac73243bfce0"
            ]
        ]
    },
    {
        "id": "cbd681df6a22119a",
        "type": "mqtt in",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "topic": "/result/esp32_2/tempo",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "83250a2dcbe72917",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1340,
        "wires": [
            [
                "0b6f57a2cf9c07a8",
                "c5887b3075758d45"
            ]
        ]
    },
    {
        "id": "08173f4a1f3d1e66",
        "type": "ui_text",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "group": "e8df33a9b06cd1d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pacchetti arrivati",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5402d08102a9706f",
        "type": "ui_text",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "group": "e8df33a9b06cd1d3",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pacchetti totali",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 1220,
        "wires": []
    },
    {
        "id": "0b6f57a2cf9c07a8",
        "type": "ui_gauge",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "group": "e8df33a9b06cd1d3",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tempo medio",
        "label": "ms",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 520,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c609b7f216a0057c",
        "type": "mqtt out",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "topic": "/command/esp32_2",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "83250a2dcbe72917",
        "x": 790,
        "y": 1560,
        "wires": []
    },
    {
        "id": "364e43c90f6e4160",
        "type": "ui_form",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "label": "",
        "group": "4bb5cda05110c7e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Mac Address",
                "value": "mac_address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Numero pacchetti",
                "value": "num_pack",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "mac_address": "",
            "num_pack": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 170,
        "y": 1680,
        "wires": [
            [
                "143265b5aeebe25a"
            ]
        ]
    },
    {
        "id": "37eaac73243bfce0",
        "type": "function",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "function 7",
        "func": "msg.payload = parseInt(msg.payload.split(\" \")[0]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1220,
        "wires": [
            [
                "5402d08102a9706f",
                "63771a8f6cec623f"
            ]
        ]
    },
    {
        "id": "a8204c0777c33c81",
        "type": "mqtt in",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "topic": "/result/esp32_2/throughput",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "83250a2dcbe72917",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1480,
        "wires": [
            [
                "92ec9a82c221e9d3",
                "128aabe96d9dfb58"
            ]
        ]
    },
    {
        "id": "92ec9a82c221e9d3",
        "type": "ui_gauge",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "group": "e8df33a9b06cd1d3",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Throughput",
        "label": "bit/s",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 1440,
        "wires": []
    },
    {
        "id": "0e8c3b78290d64a4",
        "type": "debug",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1600,
        "wires": []
    },
    {
        "id": "418c64f2679e2f97",
        "type": "function",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "function 6",
        "func": "//msg.payload[\"mac_address\"] = msg.payload[\"mac_address\"].replaceAll(\":\", \"\");\nmsg.payload = msg.payload[\"num_pack\"] + \" \" +msg.payload[\"mac_address\"];\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1580,
        "wires": [
            [
                "0e8c3b78290d64a4",
                "c609b7f216a0057c"
            ]
        ]
    },
    {
        "id": "143265b5aeebe25a",
        "type": "switch",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "property": "payload[\"mac_address\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^[a-fA-F0-9]{2}(:[a-fA-F0-9]{2}){5}$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 1680,
        "wires": [
            [
                "1a1942d8c8cf6aeb"
            ],
            [
                "c728408444405a80"
            ]
        ]
    },
    {
        "id": "28087eed48fa044b",
        "type": "change",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "Form valido",
        "rules": [
            {
                "t": "set",
                "p": "ok",
                "pt": "msg",
                "to": "Sended command",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1620,
        "wires": [
            [
                "b602e0bded2717c9"
            ]
        ]
    },
    {
        "id": "c728408444405a80",
        "type": "change",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "Mac address non valido",
        "rules": [
            {
                "t": "set",
                "p": "ok",
                "pt": "msg",
                "to": "Mac address non valido",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1700,
        "wires": [
            [
                "b602e0bded2717c9"
            ]
        ]
    },
    {
        "id": "b602e0bded2717c9",
        "type": "ui_text",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "group": "4bb5cda05110c7e9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.ok}}",
        "layout": "col-center",
        "className": "",
        "x": 810,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5452d48b6c9fc722",
        "type": "mqtt in",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "topic": "/result/esp32/throughput",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "83250a2dcbe72917",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 880,
        "wires": [
            [
                "f363c10c19d1bde4",
                "9e5dbda5775a3c93",
                "1634522be9a5a50b"
            ]
        ]
    },
    {
        "id": "f363c10c19d1bde4",
        "type": "ui_gauge",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "group": "db5c89b3b3859681",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Throughput",
        "label": "bit/s",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "300000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 920,
        "wires": []
    },
    {
        "id": "9e5dbda5775a3c93",
        "type": "debug",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 800,
        "wires": []
    },
    {
        "id": "c5887b3075758d45",
        "type": "ui_chart",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "group": "e8df33a9b06cd1d3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Tempo medio",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "128aabe96d9dfb58",
        "type": "ui_chart",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "group": "e8df33a9b06cd1d3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Throughput",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "63771a8f6cec623f",
        "type": "join",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 1160,
        "wires": [
            [
                "3256f673e8e3713d"
            ]
        ]
    },
    {
        "id": "3256f673e8e3713d",
        "type": "function",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "function 8",
        "func": "if(msg.payload[0]>msg.payload[1]){\n    msg.payload = msg.payload[0] - msg.payload[1];\n}\nelse{\n    msg.payload = msg.payload[1] - msg.payload[0];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1160,
        "wires": [
            [
                "383ed03be1944ce8",
                "bae0a08da361ad21"
            ]
        ]
    },
    {
        "id": "383ed03be1944ce8",
        "type": "ui_text",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "group": "e8df33a9b06cd1d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pacchetti persi",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 1140,
        "wires": []
    },
    {
        "id": "bae0a08da361ad21",
        "type": "ui_chart",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "group": "e8df33a9b06cd1d3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pacchetti persi",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "2a0e35a0e60f2c1e",
        "type": "function",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "function 9",
        "func": "if(msg.payload[0]>msg.payload[1]){\n    msg.payload = msg.payload[0] - msg.payload[1];\n}\nelse{\n    msg.payload = msg.payload[1] - msg.payload[0];\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 380,
        "wires": [
            [
                "8b61cb605ae5c81f",
                "b6294c5f2b37ce50"
            ]
        ]
    },
    {
        "id": "e7ac174a45d926ac",
        "type": "join",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "2a0e35a0e60f2c1e"
            ]
        ]
    },
    {
        "id": "8b61cb605ae5c81f",
        "type": "ui_text",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "group": "db5c89b3b3859681",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pacchetti persi",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1120,
        "y": 360,
        "wires": []
    },
    {
        "id": "b6294c5f2b37ce50",
        "type": "ui_chart",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "group": "db5c89b3b3859681",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pacchetti persi",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1120,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "774514af8c1f37d1",
        "type": "ui_chart",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "group": "db5c89b3b3859681",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Tempo medio",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "1634522be9a5a50b",
        "type": "ui_chart",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "group": "db5c89b3b3859681",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Throughput",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2307d22244713510",
        "type": "debug",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 80,
        "wires": []
    },
    {
        "id": "ef906411d11ef0cc",
        "type": "switch",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "",
        "property": "payload[\"num_pack\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "3725bc6edf6792b7",
                "a39402d710f27448"
            ],
            [
                "c7dde367d145d2de"
            ]
        ]
    },
    {
        "id": "c7dde367d145d2de",
        "type": "change",
        "z": "9086e31c0e775e65",
        "g": "b1f0e10211a5d67e",
        "name": "Numero di pacchetti non valido",
        "rules": [
            {
                "t": "set",
                "p": "ok",
                "pt": "msg",
                "to": "Il numero di pacchetti deve essere positivo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "0b61069122122dd8"
            ]
        ]
    },
    {
        "id": "1a1942d8c8cf6aeb",
        "type": "switch",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "",
        "property": "payload[\"num_pack\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1600,
        "wires": [
            [
                "418c64f2679e2f97",
                "28087eed48fa044b"
            ],
            [
                "a21a5871f3b26ad5"
            ]
        ]
    },
    {
        "id": "a21a5871f3b26ad5",
        "type": "change",
        "z": "9086e31c0e775e65",
        "g": "2a91119432dab96e",
        "name": "Numero di pacchetti non valido",
        "rules": [
            {
                "t": "set",
                "p": "ok",
                "pt": "msg",
                "to": "Il numero dei pacchetti deve essere positivo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1660,
        "wires": [
            [
                "b602e0bded2717c9"
            ]
        ]
    }
]